.form-container{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap:1rem;
}

.form-container input{
	width:300px;
	border:none;
	outline: none;
	border-bottom:1px solid rgb(10, 5, 36);
	padding:10px 5px;
	position:relative;
	transition:all .3s ease-in-out;
}
.form-container input:focus{
	border-bottom-color: rgb(29, 9, 126);
}
.form-container button{
	background-color: rgb(13, 184, 56);
	color:white;
	border:none;
	outline: none;
	padding:.4rem .7rem;
	font-size:1rem;
	border-radius: .3rem;
	cursor: pointer;
	transition: all .5s ease-in-out;
}
.form-container button:hover{
	background-color: rgb(7, 128, 37);
}