.link{
	text-decoration: none;
	color:rgb(52, 72, 90);
	padding:0;
	font-weight: bold;
	transition: all .5s ease-in-out;
}

.link:hover,.active-link{
	color:#144d83;
	font-weight: bold;
	text-decoration: double;
	text-decoration-line:underline;
}
.list{
	display: flex;
	list-style: none;
	gap:1rem;
	padding:0;
}