.button-logout{
	display: block;
	margin-top:2rem;
	padding:.8rem;
	border:none;
	border-radius: 10px;
	box-shadow: 0 0 5px 0 rgb(82, 77, 77);
	color:white;
	background-color: #178755;
	cursor: pointer;
	transition: opacity .4s ease-in-out;
}
.button-logout:hover{
	opacity: 0.9;
}