/* src/index.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
	box-sizing: border-box;
}

h2 {
    text-align: center;
    color: #333;
}
nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

nav li {
    margin: 0 10px;
}

nav a {
    text-decoration: none;
    color: #333;
}

button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}


.body{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap:1rem;
	margin:1rem;
}
.item{
	width: 100px;
	background-color: #333;
	color:#0056b3;
	height: 50px;
	border-radius: 5px;
	text-align: center;
	/* opacity: 0; */
	transition: all 0.5s  ease-in-out;
}

.show{
	/* opacity: 1; */
	background-color: #380202;
	color:#a1a3a5;
}	