.linkActive{
	color:brown;
	text-shadow: 0px 0px 5px 10px saddlebrown;
}
.link{
	color:black;
}

.userList{
	width: 100%;
	display: flex;
	justify-content: center;
	gap:10px;
	transition: .3s all ease-in-out;
}
.userList p{
	background-color: aliceblue;
	color:#1d1c1c;
	padding:5px 10px;
	border:1px solid saddlebrown;
	border-radius: 5px;
	transition: .3s all ease-in-out;
	cursor: pointer;
	margin-bottom: 40px;
}
.userList p:hover{
	background-color: white;
	color:#0a0a0a;
	border:1px solid rgb(202, 145, 105);
}
.card{
	width:250px;
	padding:1rem;
	border:1px solid #360101;
	border-radius: 10px;
	box-shadow: 0 0 10px 0 #1d1c1c;
	margin:auto auto;
}