@import "tailwindcss";

body {
  background-image: linear-gradient(to left bottom, #f7ae9a, #5202f3),
    linear-gradient(#e5e7eb 1px, transparent 1px);
}
/* body {
  @apply bg-white bg-[size:20px_20px] bg-[linear-gradient(#e5e7eb_1px,transparent_1px),linear-gradient(90deg,#e5e7eb_1px,transparent_1px)];
} */
:root {
  --time-bg: #9135FA;
  --time-text-bg: #00FD32;
  --next-btn-bg: #F8504F;
  --container-bg: #a5749e;
  --quiz-number-bg: #867492;
  --quiz-white: #EFEEEF;
  --red-bg: #F8504F;
  --green-bg: #36C95B;
	--quiz_text_primary:#231527;
	--quiz_text_secondary:#0B090C;
}
@theme {
  --color-time-bg: var(--time-bg);
  --color-time_text_bg: var(--time-text-bg);
  --color-next_btn_bg: var(--next-btn-bg);
  --color-container_bg: var(--container-bg);
  --color-quiz_number_bg: var(--quiz-number-bg);
  --color-quiz_white: var(--quiz-white);
  --color-red_bg: var(--red-bg);
  --color-green_bg: var(--green-bg);
	--color-quiz_text-600:var(--quiz_text_primary);
	--color-quiz_text-800:var(--quiz_text_secondary);
	--animate-error-input: errorInput .7s ease-in-out;
  
}

@keyframes errorInput {
		33%{
			transform: translateX(3px);
		}
		66%{
			transform: translateX(-3px);
		}
    100% {
      transform: translateX(0);
    }
  }